<%= form_with(model: naveen) do |form| %>
  <% if @naveen.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(naveen.errors.count, "error") %> prohibited this naveen from being saved:</h2>

      <ul>
        <% naveen.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class ="field">
    <%= form.label :name1 %>
    <%= form.text_field :name1 %>
  </div>
  <div class="field">
  <%= form.label :phone %>
  <%= form.text_field :phone%>
  </div>

 

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
